<body
  style="padding-top: 300px; background-image: url(../../assets/background.jpg)"
>
  <div
    class="main-page"
    style="
      text-align: center;
      background-color: rgb(0, 102, 106);
      padding-top: 20px;
      padding-bottom: 30px;
    "
  >
    <h1 style="color: white">Welcome to FaveFlix!</h1>
    <button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px"
      class="button"
    >
      Sign Up
    </button>
    <button
      color="primary"
      (click)="openUserLoginDialog()"
      style="margin-right: 10px"
      class="button"
    >
      Login
    </button>
  </div>
</body>
