body {
  background-color: rgb(189, 189, 252);
}
.button {
  background-color: rgb(189, 189, 252);
  cursor: pointer;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}
.main-page {
  text-align: center;
  background-color: rgb(0, 102, 106);
  padding-top: 20px;
  padding-bottom: 30px;
}
