body {
  background-color: rgb(189, 189, 252);
}
.button {
  background-color: rgb(189, 189, 252);
  cursor: pointer;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
