<mat-card style="height: 200px; justify-content: space-around">
  <h2 mat-card-header style="margin-left: 15px">
    <mat-card-title> Delete User?</mat-card-title>
  </h2>
  <mat-card-content>
    Are you sure you would like to delete user?
  </mat-card-content>
  <mat-card-actions style="justify-content: end">
    <button type="button" class="button yes" (click)="deleteUser()">Yes</button>
    <button type="button" class="button no" mat-dialog-close>No</button>
  </mat-card-actions>
</mat-card>
