<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <header><app-nav-bar></app-nav-bar></header>
  <body>
    <div class="profilePage">
      <div style="margin-left: 20px">
        <h1>Profile:</h1>
        <p>Username: {{ user.Username }}</p>
        <p>Email: {{ user.Email }}</p>
        <p>Birthday: {{ user.Birthday | date : "yyyy-MM-dd" }}</p>
        <button
          aria-label="Back to Movies Button"
          (click)="backHome()"
          style="margin-right: 10px"
          class="button"
        >
          Back
        </button>
      </div>
      <mat-card class="update-user">
        <mat-card-header>
          <mat-card-title> Update User Information </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form>
            <label for="Username">Username:</label>
            <br />
            <mat-form-field [style.width.px]="300">
              <input
                matInput
                [(ngModel)]="editData.Username"
                placeholder="Username"
                type="text"
                id="Username"
                name="Username"
                minlength="5"
                required
                class="form-control"
                #name="ngModel"
              />
            </mat-form-field>
            <span
              *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert"
            >
              <br />
              <div *ngIf="name.errors?.['required']">Required</div>
              <div *ngIf="name.errors?.['minlength']">
                Username must be at least 5 characters.
              </div>
            </span>
            <br />
            <label for="Password">Password:</label>
            <br />
            <mat-form-field [style.width.px]="300">
              <input
                matInput
                [(ngModel)]="editData.Password"
                type="password"
                placeholder="Password"
                id="Password"
                required
                minlength="6"
                name="Password"
                #password="ngModel"
              />
            </mat-form-field>
            <span
              *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert"
            >
              <br />
              <span *ngIf="password.errors?.['required']">Required</span>
              <span *ngIf="password.errors?.['minlength']">
                Password must be at least 6 characters.
              </span>
              <br />
            </span>
            <br />
            <label for="Email">Email:</label>
            <br />
            <mat-form-field [style.width.px]="300">
              <input
                matInput
                [(ngModel)]="editData.Email"
                type="email"
                placeholder="Email"
                id="Email"
                name="Email"
                required
                #email="ngModel"
              />
            </mat-form-field>
            <span
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert"
            >
              <br />
              <span *ngIf="email.errors?.['required']">Required</span>
              <br />
            </span>
            <br />
            <label for="Birthday">Birthday:</label>
            <br />
            <mat-form-field [style.width.px]="300">
              <input
                matInput
                [(ngModel)]="editData.Birthday"
                type="date"
                placeholder="Birthday"
                id="Birthday"
                name="Birthday"
                required=""
                #birth="ngModel"
              />
            </mat-form-field>
            <span
              *ngIf="birth.invalid && (birth.dirty || birth.touched)"
              class="alert"
            >
              <br />
              <span *ngIf="birth.errors?.['required']">Required</span>
              <br />
            </span>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" class="profileButton" (click)="editUser()">
            Update User
          </button>
          <button type="button" class="profileButton" (click)="deleteUser()">
            Delete User
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div style="background-color: rgb(189, 189, 252)">
      <h2>Favourite Movies:</h2>
      <mat-card class="favorite-list">
        <mat-card *ngFor="let movie of moviesFavorite" class="movieCard">
          <div style="display: flex">
            <img
              class="movieCardImg"
              src="{{ movie.ImagePath }}"
              alt="{{ movie.Title }}"
              width="200px"
            />
          </div>
        </mat-card>
      </mat-card>
    </div>
  </body>
</html>
