@media all and (max-width: 680px) {
  .profilePage {
    flex-direction: column;
  }
}
.movieCard {
  flex-grow: 1;
  width: 15%;
  background-color: rgb(189, 189, 252);
}
.profileButton {
  background-color: rgb(189, 189, 252);
}

@media all and (max-width: 1200px) {
  .movieCard {
    width: 20%;
  }
}
@media all and (max-width: 1000px) {
  .movieCard {
    width: 25%;
  }
}
@media all and (max-width: 800px) {
  .movieCard {
    width: 33%;
  }
}
@media all and (max-width: 600px) {
  .movieCard {
    width: 50%;
  }
}
@media all and (max-width: 400px) {
  .movieCard {
    width: 100%;
  }
}
