.profilePage {
  display: flex;
  justify-content: space-between;
  background-color: rgb(189, 189, 252);
}
@media all and (max-width: 680px) {
  .profilePage {
    flex-direction: column;
  }
}
.button {
  background-color: rgb(0, 102, 106);
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
mat-card-actions {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
  margin-left: 5px;
  margin-bottom: 20px;
}
mat-card-title {
  color: white;
  padding-bottom: 10px;
}
.update-user {
  flex-direction: column;
  width: 350px;
  background-color: rgb(0, 102, 106);
  margin-top: 10px;
  margin-right: 50px;
}
label {
  color: white;
}
span {
  color: red;
}
.movieCard {
  flex-grow: 1;
  width: 15%;
  background-color: rgb(189, 189, 252);
}
.favorite-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.profileButton {
  background-color: rgb(189, 189, 252);
  cursor: pointer;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media all and (max-width: 1200px) {
  .movieCard {
    width: 20%;
  }
}
@media all and (max-width: 1000px) {
  .movieCard {
    width: 25%;
  }
}
@media all and (max-width: 800px) {
  .movieCard {
    width: 33%;
  }
}
@media all and (max-width: 600px) {
  .movieCard {
    width: 50%;
  }
}
@media all and (max-width: 400px) {
  .movieCard {
    width: 100%;
  }
}
