<app-nav-bar></app-nav-bar>
<div
  class="profilePage"
  style="
    display: flex;
    justify-content: space-between;
    background-color: rgb(189, 189, 252);
  "
>
  <div style="margin-left: 20px">
    <h1>Profile:</h1>
    <p>Username: {{ user.Username }}</p>
    <p>Email: {{ user.Email }}</p>
    <p>Birthday: {{ user.Birthday | date : "yyyy-MM-dd" }}</p>
  </div>
  <mat-card
    style="
      flex-direction: column;
      width: 350px;
      background-color: rgb(0, 102, 106);
      margin-top: 10px;
      margin-right: 50px;
    "
  >
    <mat-card-header>
      <mat-card-title style="color: white">Update Username</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field [style.width.px]="300">
          <input
            matInput
            [(ngModel)]="editData.Username"
            placeholder="Username"
            type="text"
            name="Username"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field [style.width.px]="300">
          <input
            matInput
            [(ngModel)]="editData.Password"
            type="password"
            placeholder="Password"
            name="Password"
          />
        </mat-form-field>
        <br />
        <mat-form-field [style.width.px]="300">
          <input
            matInput
            [(ngModel)]="editData.Email"
            type="email"
            placeholder="Email"
            name="Email"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field [style.width.px]="300">
          <input
            matInput
            [(ngModel)]="editData.Birthday"
            type="date"
            placeholder="Birthday"
            name="Birthday"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions
      style="display: flex; justify-content: space-between; margin: 5px"
    >
      <button mat-raised-button class="profileButton" (click)="editUser()">
        Update User
      </button>
      <button mat-raised-button class="profileButton" (click)="deleteUser()">
        Delete User
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div style="background-color: rgb(189, 189, 252)">
  Favourite Movies:
  <mat-card style="display: flex; flex-wrap: wrap; flex-direction: row">
    <mat-card *ngFor="let movie of moviesFavorite" class="movieCard">
      <div style="display: flex">
        <img
          class="movieCardImg"
          src="{{ movie.ImagePath }}"
          alt="{{ movie.Title }}"
          width="200px"
        />
      </div>
    </mat-card>
  </mat-card>
</div>
